<script src="xuly.js"></script>

<div>
    <form method="POST">

        <div class="login" id="login">
            <h2>Dang ki ten de tham gia chat</h2>
            <input type="text" class="text-name" id="text-name" placeholder="Name">
            <input type="button" class="login-btn" id="login-btn" value="Login"></input>
        </div>

        <div class="mess" id="mess">
            <div class="user" id="user">
            </div>

            <div class="chat" id="chat">
            </div>
            <div class="clearfix"></div>

            <div class="form-chat">
                <input type="text" class="text" id="text" placeholder="Nhap chat">
                <input type="button" class="btn-chat" id="btn-chat" value="Send"></input>
            </div>
        </div>

    </form>
</div>