<script src="xuly.js"></script>

<div>
    <form method="POST">

        <div class="login" id="login">
            <h2>Dang ki ten de tham gia chat</h2>
            <input type="text" class="text-name" id="text-name" placeholder="Name">
            <input type="button" class="login-btn" id="login-btn" value="Login"></input>
        </div>

        <div class="mess1" id="mess1">
            <div class="user" id="user">
            </div>
            <div class="mess">
                <div class="info">
                    <h4 class="ten" id="ten"></h4>
                    <input type="button" id="logout" value="logout">
                </div>
                <div class="clearfix"></div>
                <div class="index-mess">
                    <div class="mess-result" id="mess-result">
                    </div>
                    <div class="mess-send" id="mess-send">
                    </div>
                </div>
                <div class="form-chat">
                    <input type="text" class="text-send" id="text" placeholder="Noi dung tin nhan">
                    <input type="button" class="send" name="" id="btn-chat" value="Send">
                </div>
            </div>
        </div>

    </form>
</div>